body {
    font-family: 'Roboto', sans-serif;
    background-color: #bdb389;
    color: #000;
    font-weight: bold;
    margin: 0;
}

h1 {
    font-weight: bold;
}

.table {
    background-color: #7ABA78;
}

.table th, .table td {
    color: #153448;
}

.table th {
    background-color: #E2DFD0;
}

.table td {
    background-color: #dcd3a5;
    font-weight: normal;
}
.table-bordered {
    border: 3px solid #dee2e6 !important;
}

.table-bordered th, .table-bordered td {
    border: 3px solid #dee2e6 !important;
}
.btn-success {
    box-shadow: 0 9px #999;
}

.btn-success:hover {
    background-color: #3e8e41;
}

.btn-success:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
@media screen and (max-width: 600px) {
    .time-left {
        min-width: 150px; /* Adjust this value as needed */
    }
}